body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-weight: 600 !important;
  background-color: white;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
button:focus {
  /*outline: 1px dotted;*/
  /*outline: 5px auto -webkit-focus-ring-color;*/
  outline: none !important;
}

/* Width */
.w-1204 {
  width: 1204px;
}

.text-tennis {
  color: #d6f732;
}

.bg-warning {
  background-color: #f36903;
}

.border-1 {
  border-width: 1px;
}

.hover\:border-4:hover {
  border-width: 4px;
}

.h-98 {
  height: 392px;
}

.bg-third {
  background-color: #db00ff !important;
}

.border-third {
  border-color: #E6BF01 !important;
}
.file-border{
  border-color:#7D37F8!important;
}
.text-third {
  color: #ff77f1 !important;
}

.bg-fourth {
  background-color: #00f0ff !important;
}

.border-fourth {
  border-color: #00f0ff !important;
}

.text-fourth {
  color: #00f0ff !important;
}

.font-rainbow {
  font-family: Internal Rainbows;
}
.font-inter {
  font-family: Inter;
}
.text-xxs {
  font-size: 9.5px;
}

.text-52 {
  font-size: 52px;
}

.text-100 {
  font-size: 100px;
}

.text-gradient {
  background: linear-gradient(90deg, #db00ff 4.23%, #2b67f1 105.79%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-9 {
  top: 36px;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}
.b-8 {
  bottom: 32px;
}

.l-16 {
  left: 64px;
}

.l-8 {
  left: 32px;
}

.r-16 {
  right: 64px;
}

.r-8 {
  right: 32px;
}

.box-shadow {
  box-shadow: 0px 4px 40px 5px rgba(255, 255, 255, 0.25);
}

.animate-horizonbounce {
  animation: horizonbounce 1s infinite;
}

@keyframes horizonbounce {
  0%,
  100% {
    transform: translateX(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.outline {
  outline: 30px solid #00f0ff;
}

.w-485 {
  width: 550px;
}
.r-2 {
  right: 8px;
}

.questionMark {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5625rem;
  line-height: 11px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin-left: 6px;
}

.hint {
  display: block;
  position: absolute;
  width: 165px;
  padding: 4px;
  border: 0.5px solid #000000;
  background: #fff;
  font-size: 0.5625rem;
  line-height: 120%;
  top: 0px;
  left: 94px;
}
.questionMark:hover + .hint {
  display: block;
}

.productimg {
  width: 47%;
}
.enterimg {
  height: 100%;
}
/* fractional page */
.ownershiptext {
  width: 66.666%;
  margin-left: 4rem;
}

.minttext{
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height:1.5rem;
  margin-top:2.5rem;
}

@media (max-width: 600px) {
  .fgo_text_1 {
    /* display: none; */
    font-size: 15px;
    line-height: 18px;
  }
  .fgo_text_2 {
    /* display: none; */
    font-size: 17px;
    line-height: 21px;
  }
  .fractional_video {
    display: none;
  }
}
@media (max-width: 375px) {
  .fgo_text_2 .left {
    margin-right: 2rem;
  }
  .fgo_text_2 .right {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 415px) {
  .logotext{
    font-size: 20px;
    line-height: 23.01px;
  }
  .greenline{
    position: absolute;
    left:46px;
    height: 1275px;
    background-color: #00F0FF;
    width: 57px;
    z-index: -1;
  }
  .violetline{
    position: absolute;
    left:119px;
    height: 1275px;
    background-color: #DB00FF;
    width: 57px;
    z-index: -1;
  }
  .indexparagraph1{
    background-color: black;
    padding: 0 31px;
    margin-top:40px;
  }
  .buildingtext{
    font-size: 30px;
    font-weight: 900;
    line-height: 36.31px;
  }

  .productimg {
    flex: 1;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .enterimg {
    height: auto;
  }

  .ownershiptext {
    width: 81%;
    margin-left: 2rem;
  }

  .mintingheader {
    padding:0 12px;
  }

  .mintingtext{
    padding:26px 33px;
  }
  .minttext{
    font-family: Inter;
    font-weight: 200;
    font-size: 15px;
    line-height:19px;
    /* margin-top:0; */
  }
  
  .mobileform{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 0 52px;
  }
  /* opensourceimg */
  .opensourceheader{
    padding:0 20px;
  }

  .opensourcecontent{
    box-sizing: border-box;
    max-width: 375px;
    margin:0 65px 0px 45px;
  }
}

@import './circle-menu.css';
