@import '../../assets/scss/helpers/helpers.scss';

.classModalWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 300;
}

.modal {
  background-color: black;
  padding: 48px;
  position: relative;
  max-width: 840px;
  margin: 200px auto;
  word-break: break-word;
  background-image: url("/images/classic_modal_texture.png");
  background-size: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px 10px #FFFFFF;

  & p,
  & span,
  & button,
  & a {
    color: white !important;
    font-family: Gilroy;
  }

  & button {
    
    &:not([disabled], .closeIcon):hover {
      // background-color: white !important;
      opacity: 0.8;
    }
  }

  .inputWrapper {
    background: white !important;
  }
}

.closeIcon {
  @include reset-button();
  @include active();
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 30px;
  background: transparent !important;
}

.title {
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 44px;
}

.modalBodyText {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}
